<!-- <div>
    <ul *ngFor="let array of user">
        <li>{{array.id}}</li>
        <li>{{array.firstName}}</li>
        <li>{{array.lastName}}</li>
        <li>{{array.address}}</li>
        <li>{{array.phoneNumber}}</li>
    </ul>
</div> -->
<table class="table table-dark"  >
    <thead>
      <tr>
        <th style="width: 91px;">User Id</th>
        <th style="width: 269px;" >First Name</th>
        <th style="width: 150px;">Last Name</th>
        <th style="width: 325px;">Address</th>
        <th style="width: 325px;">Phone Number</th>
        <th style="width: 150px;">Delete</th>
        <th style="width: 150px;">Update</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let array of user">
        <td style="padding-left: 37px;">{{array.id}}</td>
        <td style="padding-left: 78px;">{{array.firstName}}</td>
        <td style="padding-left: 52px;">{{array.lastName}}</td>
        <td style="padding-left: 115px;">{{array.address}}</td>
        <td style="padding-left: 109px;">{{array.phoneNumber}}</td>
        <td>
          <button style="background-color: transparent;color:white; border-top: none;padding-left: 44px;border-bottom: none;border-left: none;border-right: none;" (click)="delete(array.id)">Delete</button>
        </td>
        <td>
          <button style="background-color: transparent;color:white;padding-left: 44px;border-top: none;border-bottom: none;border-left: none;border-right: none;" (click)="update(array)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>